@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
}
body, a, h1, h2, h3, h4, h5, h6, span, p, input, button {
    font-family: 'Open Sans';
}
#serverBar {
    background-color: #202225;
    width: 5%;
    left: 0;
    height: 100%;
    position: fixed;
    z-index: 0;
}
#channelBar {
    background-color: #2F3136;
    width: 17.5%;
    left: 5%;
    height: 100%;
    position: fixed;
    z-index: 0;
}
#memberBar {
    background-color: #2F3136;
    width: 17.5%;
    left: 82.5%;
    height: 100%;
    position: fixed;
    z-index: 0;
}
#chatWindow {
    width: 60%;
    left: 22.5%;
    height: 100%;
    position: fixed;
    z-index: 0;
    margin: 0.5%;
    text-align: center;
}
#topBar {
    z-index: 2;
    width: 100%;
    position: fixed;
    height: 2%;
}
#chat {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    overflow-y: scroll;
    height: 85%;
    overflow-x: hidden;
}

#chat li div{
    width: 80%;
    color: white;
    text-align: left;
}
#chat li div .messageName {
    color: white;
    font-weight: 600;
}
#chat li div .messageDate {
    padding-left: 5px;
    color: grey;
    font-size: 10px;
}
#chat li div .messageContent {
    padding-top: 40px;
    font-size: 13px;
}
#chat li div .messageContent::before {
    white-space: pre;
    content: "\A";
}
a {
    color: auto;
    text-decoration: auto;
}
.chatMessage {
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    transition: 0.2s;
    width: 85%;
}
.messageIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-right: 5px;
    vertical-align: middle;
}
.messageName{
    line-height: 25px;
}
.messageName:hover {
    cursor: pointer;
}
.chatMessage:hover {
    background-color: #32353B;
}
#chatName {
    padding-left: 20px;
    text-align: left;
    color: white;
}
.channelHash {
    color: grey;
    padding-right: 10px;
}
.listChannel {
    color: white;
    padding: 10px;
    text-align: left;
    position: flex;
    border-radius: 15px;
    margin-bottom: 10px;
}
.listChannel:hover {
    background-color: #393C43;
    cursor: pointer;
}
.listChannelSelected {
    background-color: #393C43;
    color: white;
    padding: 10px;
    text-align: left;
    position: flex;
    border-radius: 15px;
}
.listChannelSelected:hover {
    cursor: pointer;
}
#channels {
    list-style: none;
    width: 98%;
    left: 0;
    padding: 4px;
    overflow-y: scroll;
    height: 90%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#channels::-webkit-scrollbar {
    display: none;
}
#servers {
    padding: 0;
    list-style: none;
    left: 5px;
    overflow-y: scroll;
    height: 90%; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#servers::-webkit-scrollbar {
    display: none;
}
.listServer {
    text-align: left;
    padding-left: 10px;
    position: flex;
    width: 95%;
    left: 0;
}
.listServer img {
    border-radius: 50%;
    transition: 0.2s;
    padding: 5px;
    width: 65%;
}
.listServer img:hover {
    background-color: rgba(78, 93, 148,0.75);
    cursor: pointer;
}
.listServerSelected img {
    background-color: rgba(78, 93, 148,0.75);
}
.listServerSelected:hover {
    cursor: pointer;
}
#currentGuildName {
    color: white;
    padding-left: 15px;
}
#textBar {
    background-color: #40444B;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 50%;
    bottom: 5px;
    position: fixed;
    left: 23%;
}
#textBar:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
#sendmessage {
    background-color: #101011;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: auto;
    bottom: 5px;
    position: fixed;
    left: 75%;
}
#sendmessage:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
#sendmessage:hover {
    cursor: pointer;
}
#members {
    list-style: none;
    color: white;
    overflow-y: scroll;
    height: 90%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0;
    margin-left: 2%;
}
.newMemberIcon {
    border-radius: 50%;
    transition: 0.2s;
    padding: 2px;
    width: 30px;
    background-color: grey;
    margin-bottom: 10px;
    margin-right: 5px;
    vertical-align: middle;
}
#members::-webkit-scrollbar {
    display: none;
}
#memberamount {
    margin-left: 15px;
    color: white;
}
.newMemberName:hover {
    cursor: pointer;
}
.messageImage {
    margin-top: 10px;
    width: 30%;
    float: left;
}
.newMemberName {
    border-radius: 15px;
    padding: 7px;
    padding-bottom: 5px;
}